################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/raccapp/FileContentIndex
/.vs/raccapp/v17
/obj/Release
